<mat-toolbar color="primary" [ngStyle]="{'margin-bottom': '20px'}">
    <mat-toolbar-row>
      <a mat-flat-button color="primary" href="https://lindy-player-backend.herokuapp.com/login">Login with Spotify</a>
      <!-- <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
    </mat-toolbar-row>
  </mat-toolbar>
               
               